<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
<h:head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
	<title>Registo Usuario</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<style type="text/css">
		body{
			color: #fff;
			background: #63738a;
			font-family: 'Roboto', sans-serif;
		}
	    .form-control{
			height: 40px;
			box-shadow: none;
			color: #969fa4;
		}
		.form-control:focus{
			border-color: #5cb85c;
		}
	    .form-control, .btn{        
	        border-radius: 3px;
	    }
		.signup-form{
			width: 400px;
			margin: 0 auto;
			padding: 30px 0;
		}
		.signup-form h2{
			color: #636363;
	        margin: 0 0 15px;
			position: relative;
			text-align: center;
	    }
		.signup-form h2:before, .signup-form h2:after{
			content: "";
			height: 2px;
			width: 30%;
			background: #d4d4d4;
			position: absolute;
			top: 50%;
			z-index: 2;
		}	
		.signup-form h2:before{
			left: 0;
		}
		.signup-form h2:after{
			right: 0;
		}
	    .signup-form .hint-text{
			color: #999;
			margin-bottom: 30px;
			text-align: center;
		}
	    .signup-form form{
			color: #999;
			border-radius: 3px;
	    	margin-bottom: 15px;
	        background: #f2f3f7;
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	        padding: 30px;
	    }
		.signup-form .form-group{
			margin-bottom: 20px;
		}
		.signup-form input[type="checkbox"]{
			margin-top: 3px;
		}
		.signup-form .btn{        
	        font-size: 16px;
	        font-weight: bold;		
			min-width: 140px;
	        outline: none !important;
	    }
		.signup-form .row div:first-child{
			padding-right: 10px;
		}
		.signup-form .row div:last-child{
			padding-left: 10px;
		}    	
	    .signup-form a{
			color: #636363;
			text-decoration: underline;
		}
	    .signup-form a:hover{
			text-decoration: none;
		}
		.signup-form form a{
			color: #5cb85c;
			text-decoration: none;
		}	
		.signup-form form a:hover{
			text-decoration: underline;
		}  
		
		h3{
			text-align:center
		}
	</style>
	
	<!--<f:event type="preRenderView" listener="#{verificarSesionMedico.VerificaSesionConsultorio()}"/>-->
	
	</h:head>
	<body>
	<div class="signup-form">
	    <h:form >
	    	<p:messages id="messages" showDetail="true" closable="true">
	        	<p:autoUpdate />
	    	</p:messages>
	    	
			<h2>Registrate</h2>
			<p class="hint-text">Registrate</p>
	        
	        <div class="form-group">
	        	<h:inputHidden value="#{gestionUsuariosBean.usuario.codigo}">
	        	</h:inputHidden>
	        </div>
	        <div class="form-group">
	        	<h:inputHidden value="#{gestionUsuariosBean.usuario.codigoConsultorio}">
	        	</h:inputHidden>
	        </div>
	         <div class="form-group">
	        	<h:inputText class="form-control" pt:placeholder="Correo" required="required" value="#{gestionUsuariosBean.correo}">
	        	</h:inputText>
	        </div>
	        <div class="form-group">
	        	<h:inputText class="form-control" pt:placeholder="Direccion" required="required" value="#{gestionUsuariosBean.usuario.direccion}">
	        	</h:inputText>
	        </div>
	        <div class="form-group">
	        	<h:inputText class="form-control" pt:placeholder="Telefono" required="required" value="#{gestionUsuariosBean.usuario.telefono}">
	        	</h:inputText>
	        </div>
			<div class="form-group">
	            <h:inputSecret class="form-control" pt:placeholder="Password" required="required" value="#{gestionUsuariosBean.password1}">
	            </h:inputSecret>
	        </div>
	       
			<div class="form-group">
	            <h:inputSecret class="form-control" name="confirm_password" pt:placeholder="Confirm Password" required="required" value="#{gestionUsuariosBean.password2}">
	            </h:inputSecret>
	        </div> 
			 <div class="form-group">
	        	<h3>Rol</h3>
		        <h:selectOneMenu class="form-control" value = "#{gestionUsuariosBean.usuario.rol}"> 
			    	<f:selectItem itemValue = "Medico" itemLabel = "Medico" /> 
			        <f:selectItem itemValue = "AsistenteContable" itemLabel = "Asistente Contable" /> 
				</h:selectOneMenu>
	        </div>     
	         
	        <div class="form-group">
				<label class="checkbox-inline"><input type="checkbox" required="required"/> Acepto los <a href="#">Terminos de uso</a>  <a href="#">Politicas de Privacidad</a></label>
			</div>
			<div class="form-group">
	            <h:commandButton class="btn btn-primary btn-block" action="#{gestionUsuariosBean.guardar()}" value="Registrar"/>
	            <h:commandButton class="btn btn-primary btn-block" action="dashboard.xhtml" value="Cancelar"/>
	        </div>
	    </h:form>
		<div class="text-center">Ya tienes Cuenta? <a href="IngresaUsuario.xhtml">Inicia Sesion</a></div>
	</div>
	</body>
</html>                            
