<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png"/>
    <title>Usuarios</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Menu CSS -->
    <link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet"/>
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet"/>
    <!-- color CSS -->
    <link href="css/colors/default.css" id="theme" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- <f:event type="preRenderView" listener="#{verificarSesionMedico.VerificaSesionConsultorio()}"/> -->

</h:head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
                            href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </li>
                    <li>
                        <a href="RegistroUsuario.xhtml">Registrar Usuario</a>
                    </li>
                    <li>
                        <a href="IngresaUsuario.xhtml">Iniciar Sesion</a>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <b class="hidden-xs">Mi consultorio</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="dashboard.xhtml" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i>Menu Principal</a>
                    </li>
                    <li>
                        <a href="profile.xhtml" class="waves-effect"><i class="fa fa-user fa-fw"
                                aria-hidden="true"></i>Datos Consultorio</a>
                    </li>
                    <h:form>
	                        <h:commandButton class="waves-effect"  action="#{gestionUsuariosBean.ListarUsuarios()}" value="Usuarios">
	                        </h:commandButton>
	                </h:form>
                    
                </ul>
               
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Mis Usuarios</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        
                        <ol class="breadcrumb">
                            <li><a href="#">Menu Principal</a></li>
                            <li class="active">Usuarios</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Informacion Usuarios</h3>
                            
                            <div class="table-responsive">
                            <h:form id="form1">
                                <h:dataTable class="table"  value="#{gestionUsuariosBean.usuariosList}" var="_usuario">
		
											<h:column>
												#{_usuario.codigo}
												<f:facet name="header">Codigo</f:facet>
												
											</h:column>
											
											<h:column>
												#{_usuario.correo}
												<f:facet name="header">Correo</f:facet>
											</h:column>
											
											<h:column>
												#{_usuario.telefono}
												<f:facet name="header">Telefono</f:facet>
											</h:column>
											
									
											<h:column>
												#{_usuario.direccion}
												<f:facet name="header">Direccion</f:facet>
											</h:column>
											
											<h:column>
												#{_usuario.rol}
												<f:facet name="header">Rol</f:facet>
												
											</h:column>
											<h:column>
												<f:facet name="header">Acciones</f:facet>
												
												<p:growl id="message" showDetail="true" />
	     										<p:commandButton value="Eliminar" action="#{sesionUsuariosBean.eliminarUsuario(_usuario.codigo)}" update="message" class="btn btn-success">
												    <p:confirm header="Confirmation" message="Esta seguro?" icon="pi pi-exclamation-triangle" />
												</p:commandButton>
												     
												<p:confirmDialog global="true" showEffect="fade">
												    <h:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
												    <h:commandButton value="No"  type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
												</p:confirmDialog>    
											 
								               	<p:commandButton action="#{gestionUsuariosBean.editarUsuario(_usuario)}"
								                	 value="Editar" class="btn btn-success" />
											</h:column>
									</h:dataTable>	
								</h:form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center">© 2020 MedicalForms. All rights reserved</footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
</body>

</html>